@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;

}

body {
    background-color: #fffef1;
    color: #000000;
    font-family: "Varela Round", sans-serif;
}
.cabecalho{
    background-color: #04b110;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
}

.cartao{
    width: 260px;
    height: 200px;
}
.cartao img{
    width: 80%;
}